:root {
    --arena: #98542d;
    --purpura: #a37ce9;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

/* Mobile-First Layout */
body {
    display: flex;
    flex-direction: column; /* Stack elements vertically on mobile */
}

header, aside, main, footer {
    padding: 1rem;
}

header {
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
}

#calendar table {
    width: 100%;
    border-collapse: collapse;
}

#calendar th,
#calendar td {
    padding: 0.5rem;
    text-align: center;
}

#calendar td {
    transition: background-color 0.3s ease;
}

.arena {
    background-color: var(--arena);
}

.purpura {
    background-color: var(--purpura);
}

#recordList,
#revenueList {
    list-style: none;
    padding: 0;
}

#recordList li,
#revenueList li {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#recordList li button,
#revenueList li button,
.btn {
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 3px;
    cursor: pointer;
}

footer a, .btn {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1rem;
}

.descripcion {
    width: 90%; /* full width on mobile */
    text-align: left;
    margin: 5px auto;
}

#revenueInput,
#amountInput {
    width: 90%;
    padding: 0.3rem;
    margin: 5px auto 10px;
    display: block;
}

#incrementSelection {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#incrementSelection label {
    margin: 5px;
}

/* Desktop Layout */
@media (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header"
            "aside main"
            "footer footer";
    }

    header {
        grid-area: header;
        flex-direction: row;
        justify-content: space-between;
    }

    nav {
        grid-area: header;
        text-align: left;
    }

    aside {
        grid-area: aside;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }

    .logo {
        margin-bottom: 0;
    }

    nav ul {
        text-align: right;
    }
    .descripcion {
        width: 60%;
    }
    #revenueInput,
    #amountInput {
        width: auto;
    }
}

footer {
    text-align: center;
    word-break: break-all;
}

footer div {
    padding: 0.5rem;
}