:root {
    --arena: #98542d;
    --purpura: #a37ce9;
    --blanco: #FFFFFF;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--blanco);
    font-family: "Exo 2", sans-serif;
}

html {
    font-size: 62.5%;
}

/* Mobile-First Layout */
body {
    display: flex;
    flex-direction: column; /* Stack elements vertically on mobile */
    font-size: 16px;
    background: linear-gradient(to bottom left, var(--arena), var(--purpura));
}

h1,h2,h3,h4,h5,h6,#calendar th {
    font-family: "Orbitron", sans-serif !important;
}

header, aside, main, footer {
    padding: 1rem;
}

header {
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

#calendar table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--arena);
    margin: 1rem auto;
}

#calendar th,
#calendar td {
    padding: 0.5rem;
    text-align: center;
}

#calendar th {
    background-color: var(--arena);
    border: 1px solid var(--purpura);
}

#calendar td {
    transition: background-color 0.3s ease;
    border: 1px solid var(--arena);
}

#calendar td:hover {
    cursor: pointer;
    background: linear-gradient(to bottom top, var(--arena), var(--purpura));
}

.arena {
    background-color: var(--arena);
}

.purpura {
    background-color: var(--purpura);
}

#revenueList {
    list-style: none;
    padding: 0;
}

#revenueList li {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#revenueList li button,
.btn {
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 3px;
    cursor: pointer;
    background: linear-gradient(to bottom right, var(--arena), var(--purpura)); 
    transition: all .5s;
}

footer a, .btn {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1rem;
}

hr , .btn {
    margin: 1rem auto;
    margin-top: 1rem;
}
.btn {
    border: 1px solid transparent;
}

.btn:hover {
    border: 1px solid var(--arena);
}

#revenueInput {
    width: 90%;
    padding: 0.3rem;
    margin: 5px auto 10px;
    display: block;
}

/* Desktop Layout */
@media (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header"
            "aside main"
            "footer footer";
    }

    header {
        grid-area: header;
        flex-direction: row;
        justify-content: space-between;
    }

    aside {
        grid-area: aside;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }

    .logo {
        margin-bottom: 0;
    }

    #revenueInput{
        width: auto;
    }
}

footer {
    text-align: center;
    word-break: break-all;
}

footer div {
    padding: 0.5rem;
}